*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.home {
		background-color: #1b1f22;
	width: 100%;
	height: 100vh;
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	text-align: center;
}
.all{
	background-color:  #1b1f22;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #fff;
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

article h2{
	font-size: 50px;
	text-align: center;
	margin-top: 2%;
	margin: 0;
	padding: 0;

}
.content h1{
	font-size: 70px;
	margin-top: 80px;

}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
	font-size: 30px;

}
a{
	text-decoration: none;
	color: #A10E3A;
	text-transform: uppercase;
}

a::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
a:hover::after{
	width: 100%;
}

.b{
	color: teal;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #A10E3A;

}
